.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.login-left {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.imagem-fundo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.login-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 174, 239, 0.3); 
  z-index: 1;
}

.texto-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px #000;
  z-index: 2;
  padding: 0 20px;
}

.texto-overlay h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 15px;
}

.texto-overlay p {
  font-size: 18px;
  max-width: 340px;
  margin: 0 auto;
}

.login-right {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-box {
  max-width: 360px;
  width: 100%;
}

.titulo-logo span {
  font-weight: bold;
  font-size: 30px;
}

.titulo-logo .azull {
  color: #00AEEF;
}


.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.input-login {
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ECECEC;
  font-family: 'Poppins', sans-serif;
  outline: none;
  color: #333;
}

.input-login::placeholder {
  color: #666;
}


.login-buttonn {
  width: 100%;
  padding: 14px;
  background-color: #4EB4CE;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-buttonn:hover {
  background-color: #007caa;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.register-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.captcha-container {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.link-button {
  background: none;
  border: none;
  color: #007caa;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
}

.link-button:hover {
  color: #005f7a;
}

